{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe par email{% endblock %}

{% block body %}
    <p>
        Si un compte avec votre email existe, alors un email qui contient un lien vous sera envoyer pour réinitialiser votre mot de passe.
        Ce lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas l'email veuillez checker vos spam  ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
