<form method="post" action="{{ path('app_users_delete', {'id': users.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ users.id) }}">
    <button class="btn">Supprimer</button>
</form>