{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}


{% block body %}
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                {# Une petite navbar #}
                <!-- Topbar -->
                <nav class="navbar navbar-expand shadow">             
                <a href="{{ path('app_category_index') }}"> Gestion des catégories </a>
                <a href="{{path('app_users_index')}}"> Gestion des Utilisateurs </a>
                </nav>
                <!-- End of Topbar -->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    {# Une petite présentation pour la page d'accueil Admin #}
                    <h1>Page d'Admin</h1>
                    <p>Bonjour {{ app.user.name }}</p>
                    <p> Votre email est {{app.user.email}} </p>
    
                </div>

            </div>
            <!-- End of Main Content -->

        </div>
        
    </div>
{% endblock %}