{% extends 'base.html.twig' %}

{% block title %}Modifier Catégorie{% endblock %}

{% block stylesheets %}
<style>
    body {
        text-align:center;
    }
    h1 {
        margin-top: 20px;
    }
    input, label, button {
        margin : 10px;
    }
</style>
{% endblock %}

{% block body %}
    {# La partie pour modifier les catégories #}
    <h1>Modifier une catégorie</h1>

    {{ include('admin/_formcategory.html.twig', {'button_label': 'Modifier'}) }}

    <a class="black" href="{{ path('app_category_index') }}">Revenir à la liste</a>

    {{ include('admin/_delete_formcategory.html.twig') }}
{% endblock %}
