{% extends 'base.html.twig' %}

{% block title %}
    SaisonCulture
{% endblock %}

{% block body %}
    <header>
        <h1>
            SaisonCulture
        </h1>
        <img src="produits.jpg">
        <h2>
            Du producteur au consommateur
        </h2> 
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur dignissimos, dolore ipsum quisquam magni perferendis eveniet, assumenda officia asperiores porro cumque id architecto voluptate esse eos laborum fugiat perspiciatis obcaecati?
        </p>
        <button>
            <a></a>Inscrivez-vous ici 
        </button>
    </header>
    <section id="inscription" class="printemps">
        <div class="producteur">
            <img class="fond" src="./public/assets/img/terre.jpg">
            <h2>
            
            </h2>
            <p>
                Pour plus d'informations cliquez sur le bouton ci-dessous.
            </p>
            <button>
                <a></a>Producteurs
            </button>
        </div>
        <div class="visteur">
            <img src="./public/assets/img/panier.jpg">
            <h2>
            
            </h2>
            <p>
                Pour plus d'informations cliquez sur le bouton ci-dessous.
            </p>
        </div>
    </section>
    <section id="carte" class="printemps">
        <div class="one">
            <img src="{{ asset('assets/img/abricot.jpg') }}">
            <p>
                Abricot
            </p>
        </div>
        <div class="two">
            <img src="{{ asset('assets/img/brocoli.jpg') }}">
            <p>
                Brocoli
            </p>
        </div>
        <div class="three">
            <img src="{{ asset('assets/img/cerise.jpg') }}">
            <p>
                Cerise
            </p>
        </div>
        <div class="four">
            <img src="{{ asset('assets/img/epinard.jpg') }}">
            <p>
                Epinard
            </p>
        </div> 
    </section>
    <section id="presentation" class="printemps">
        <div class="texte">
            <h3>
                SaisonCulture
            </h3>
            <p>

            </p>
            <ul>
                <li> 
                    Découvrir des producteur près de chez vous 
                </li>
                <li>
                    Acheter des produits locaux
                </li>
                <li>
                    Visiter des fermes pédagogiques
                </li>
            </ul>
        </div>
{% endblock %}
