{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block stylesheets %}
<style>
p {
    padding:1rem;
}
body {
    text-align:center;
}

</style>
{% endblock %}

{% block body %}
    <div class="wrap">
        <h1> Contact </h1>

        <p> Voici notre adresse e-mail pour nous contacter : saisonculture@hotmail.com</p>
    </div>
{% endblock %}