{% extends 'base.html.twig' %}

{% block title %}
    Mention Légales
{% endblock %}

{% block body %}
<p> 
    Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site SaisonCulture l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
</p>

<h1> 
    Edition du site 
</h1>

<p>
    Le présent site, accessible à l’URL http://localhost:4200/ (le « Site »), est édité par :

    Justine Donnadieu, Alexandre Nicaise et Arnaud Baberon.
</p>

<h2>
    Hébergement
</h2>

<p>
    Le Site est hébergé par la société github, situé 88 Colin P Kelly Jr St San Francisco, CA 94107, (contact téléphonique ou email : +18779588742).
<br>
    Directeur de publication 
<br>
    Le Directeur de la publication du Site est Justine Donnadieu.
<br>
    Nous contacter 
<br>
    Par email : saisonculture@hotmail.com
<br>
    Données personnelles
<br>
    Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).

</p>

{% endblock %}