{% extends 'base.html.twig' %}

{% block title %}
Qui sommes-nous ?
{% endblock %}

{% block stylesheets %}
    <style>
    h1 {
        padding:1rem;
        text-align:center;
    }
    p {
        text-align:center;
        padding:1rem;

    }

    </style>
{% endblock %}

{% block body %}
    <div class="wrap">
        <h1> Qui sommes-nous ? </h1>

        <p> Page en cours de maintenance </p>
    </div>
{% endblock %}