{% extends 'base.html.twig' %}

{% block title %}
    Charte
{% endblock %}

{% block stylesheets %}
<style>
p {
    text-align:center;
    padding:1rem;
}
h2, h3, h4 {
    margin-bottom:20px;
    text-align:center;
}

</style>
{% endblock %}

{% block body %}
    <div class="wrap">
        <h2>
            Date de dernière mise à jour : 04/05/2022
        </h2>
        <p>
            La présente charte sur le respect de la vie privée (la « Charte ») a pour objectif de formaliser notre engagement quant au respect de la vie privée des utilisateurs du site http://localhost:4200 (« le Site»)
            <br>
            La Charte et les Conditions Générales d’Utilisation du Site forment un ensemble contractuel. Tous les termes en majuscules non-définis dans la présente Charte sont définis dans les Conditions Générales d’Utilisation (voir les CGU en cliquant ici)
            <br>
            Dans le cadre de la mise à disposition du Site, nous traitons vos données à caractère personnel dans le respect du Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 (« RGPD ») et dans les conditions exposées ci-après.
            <br>
            Une donnée à caractère personnel désigne toute information se rapportant à une personne physique identifiée ou identifiable. Nous collectons et traitons des données à caractère personnel dans le cadre de la fourniture de nos Services ou de la communication à propos de ces Services exclusivement, en stricte conformité avec le RGPD.
            <br>
            Nous collectons uniquement des données à caractère personnel adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées. Ainsi, il ne vous sera jamais demandé de renseigner des données à caractère personnel considérées comme « sensibles », telles que vos origines raciales ou ethniques, vos opinions politiques, philosophiques ou religieuses.
            <br>
            En renseignant vos informations sur le Site, vous nous autorisez à traiter vos données à caractère personnel conformément à la Charte. Si vous refusez les termes de cette Charte, veuillez vous abstenir d’utiliser le Site ainsi que les Services qui le composent.
        </p>

        <h3>
            1. Dans quels cas collectons-nous vos données à caractère personnel et quelles données sont collectées ?
        </h3>
        <p> 
            Les données liées à vos informations (« Données Personnelles Informatives ») telles que vos civilité, nom, prénom, adresse postale, complément d’adresse postale, CP, Vile, adresse email, téléphone, N° de SIRET si vous êtes producteurs.
        </p>

        <h3>
            2. Quelle sont les finalités des données collectées
        </h3>
        <p>
            – Pour prendre contact avec nous ou les producteurs nous utilisons des Données Personnelles Informatives: telles que nom, prénom, adresse postale, complément d’adresse postale, CP, Ville, adresse email, téléphone
            <br>
            Le Site ne commercialise en aucun cas vos données : Vos Données Personnelles Informatives qui sont donc uniquement utilisées par nécessité de rendre le Service. Nous utilisons vos données à caractère personnel pour permettre la mise en œuvre et la gestion des Services du Site
            <br>
            Nous n’utilisons pas vos Données Personnelles Informatives dans le but d’exploiter et d’améliorer nos Services ou notre Site. Ces informations vous sont propres et ne sont pas traitées à des usages statistiques.
        </p>

        <h3>
            3. Demande de contact
        </h3>
        <p>
            Afin de donner suite aux demandes de contact et de confirmer les informations vous concernant, nous pourrons utiliser vos nom, prénom, adresse de courrier électronique et numéro de téléphone afin de vous contacter.
        </p>

        <h3>
            4. Comment protégeons-nous vos données à caractère personnel ?
        </h3>
        <p>
            Nous avons mis en place des mesures de sécurité techniques et organisationnelles en vue de garantir la sécurité, l’intégrité et la confidentialité de toutes vos données à caractère personnel, afin d’empêcher que celles-ci soient déformées, endommagées ou que des tiers non autorisés y aient accès. Nous assurons un niveau de sécurité approprié, compte tenu de l’état des connaissances, des coûts de mise en œuvre et de la nature, de la portée, du contexte et des finalités du traitement ainsi que des risques et de leur probabilité.
            <br>
            Toutefois, il est précisé qu’aucune mesure de sécurité n’étant infaillible, nous ne sommes pas en mesure de garantir une sécurité absolue à vos données à caractère personnel.
        <p>
        <h4>
            a. Stockage et sécurisation des données
        <h4>
        <p>
            Dans le cas d’une prise de contact
            <br>
            Les données collectées via la prise de contact sont stockées et sécurisées.
        </p>
        <h4>
            b. Notifications d’incident
        </h4>
        <p>  
            Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode de stockage électronique n’est complètement sûre. Nous ne pouvons en conséquence pas garantir une sécurité absolue. Si nous prenions connaissance d’une brèche de la sécurité, nous avertirions les utilisateurs concernés afin qu’ils puissent prendre les mesures appropriées. Nos procédures de notification d’incident tiennent compte de nos obligations légales, qu’elles se situent au niveau national ou européen. Nous nous engageons à informer pleinement nos utilisateurs de toutes les questions relevant de la sécurité de leur compte et à leur fournir toutes les informations nécessaires. 
            <br>
            Aucune information personnelle du client du Site n’est publiée à son insu, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.
        </p>
        <h4>
            c. Combien de temps conservons-nous vos données à caractère personnel ?
        </h4>
        <p>
            Nous conserverons vos données à caractère personnel sur nos outils de gestion durant tout le temps où nous sommes en contact. Sur votre demande vos données peuvent être supprimées.
        </p>
        <h3>
            5. Dans quels cas partageons-nous vos données à caractère personnel ?
        </h3>
        <h4>
            a. Destinataires de vos données
        </h4>
        <p>
            Le Site ne vend ni ne loue vos données personnelles à des tiers à des fins de marketing, en aucun cas. 
        </p>
        <h3>
            6. Pouvons-nous modifier la Charte ?
        </h3>
        <p>
            Nous nous réservons le droit de modifier la Charte à tout moment. Il vous est donc recommandé de la consulter régulièrement. En cas de modification, nous publierons ces changements sur cette page et aux endroits que nous jugerons appropriés en fonction de l’objet et de l’importance des changements apportés.
            <br>
            Votre utilisation du Site après toute modification de la Charte signifie que vous acceptez ces modifications. Si vous n’acceptez pas certaines modifications substantielles apportées à la présente Charte, vous devez arrêter d’utiliser le Site et demander, si vous le souhaitez, la suppression de votre compte.
        </p>
        <h3>
            7. Délégué à la Protection des Données et contact
        </h3>
        <p> 
            Pour toute question concernant vos données à caractère personnel, merci de nous contacter via le formulaire de contact.
        </p>
    </div>
{% endblock %}