<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <nav>
           <a>Producteurs</a>
           <a>Visiteurs</a>
           <button>
            <a></a>Connexion
           <button>
        </nav>
        <footer>
        <a> Visiteurs </a>
        <a> Producteurs </a>
        <img src="./public/assets/img/logoprintemps.png">
        <a> Qui-sommes-nous ? </a>
        <hr>
        <img src="./public/assets/img/facebook.png">
        <img src="./public/assets/img/instagram.png">
        <img src="./public/assets/img/tweeter.png">
        </footer>
        {% endblock %}
    </body>

</html>
